<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Team and Super Hero Creation</title>
</head>

<body>
<form action="/teams" method="post">
	<h1>Create a Team and Superheroes!</h1>
	<label>Team Name: </label><input type="text" id="superhero_name"><br>
	<label>Team Motto: </label><input type="text" id="superhero_name2"><br>
	<h2>Hero 1: </h2>
	<label>Hero's Name: </label><input type="text" id="superhero_name3"><br>
	<label>Hero's Power: </label><input type="text" id="superhero_name4"><br>
	<label>Hero's Biography: </label><input type="text" id="superhero_name5"><br>
	<h2>Hero 2: </h2>
	<label>Hero's Name: </label><input type="text" id="superhero_name3"><br>
	<label>Hero's Power: </label><input type="text" id="superhero_name4"><br>
	<label>Hero's Biography: </label><input type="text" id="superhero_name5"><br>
	<h3>Hero 3:</h3>
	<label>Hero's Name: </label><input type="text" id="superhero_name3"><br>
	<label>Hero's Power: </label><input type="text" id="superhero_name4"><br>
	<label>Hero's Biography: </label><input type="text" id="superhero_name5"><br>
	<br>
	<input type="submit" value="Submit">
  </form>
</body>
</html>
